name: IngSw-Tfi

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Configurar .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restaurar dependencias
      run: dotnet restore IngSw-Tfi.sln

    - name: Compilar la solución
      run: dotnet build IngSw-Tfi.sln --configuration Debug --no-restore

    - name: Ejecutar tests unitarios
      run: dotnet test ./IngSw-Tests --configuration Debug --no-build --verbosity normal

    - name: Ejecutar tests BDD
      run: dotnet test ./IngSw_Bdd/IngSw_Bdd.csproj --configuration Debug --no-build --verbosity normal